.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

nav li {
  margin-top: 20px;
  display: inline-block;
  margin-right: 7em;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  font-size: 25px;
}

.MuiCardActions-root-77 {
  justify-content: space-evenly;
}